@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}
body,
html {
  color: #333;
  display: grid;
  max-width: 100%;
  place-items: center;
}

h2 {
  margin: 0;
  color: #5959ff;
  font-size: 2.5em;
  font-weight: 600;
  margin-top: 5rem;
}

form {
  width: 50%;
}

form label {
  font-size: 1.2rem;
}

input,
textarea,
button {
  width: 100%;
  padding: 0.5em;
  border: none;
  font-size: 1.2rem;
}
input[type="text"],
input[type="email"],
textarea {
  margin: 0 0 1em;
  border: 1px solid #ccc;
  outline: none;
}

textarea {
  height: 6em;
}
input[type="submit"],
button {
  background: #4570f3;
  color: #fff;
  cursor: pointer;
}
input[type="submit"]:hover,
button:hover {
  background: #6e65f4;
}
